.max-image-size {
  height: 345px;
  width: 100%;
  max-height: 345px;
  @media(max-width: 992px) {
    height: 100%;
    width: 100%;
    max-height: 385px;
  }
  @media(max-width: 862px) {
    height: 100%;
    width: 100%;
    max-height: 437px;
  }
}

.really-bold {
  font-weight: 1700px !important;
  text-shadow: 5px 7px 6px #add8e6!important;
}