<section class="mb-7">
    <style>
        @media (min-width: 992px) {
            #cta-img-nml-50 {
                margin-left: 50px;
            }
        }
    </style>

    <div class="row gx-0">
        <div class="col-lg-5 mb-4 mb-md-0">
            <div class="d-flex py-md-5">
                <img
                        src="/assets/donate-image.png"
                        class="w-100 rounded-5 shadow-3-strong"
                        id="cta-img-nml-50"
                        style="z-index: 10"
                        alt=""
                />
            </div>
        </div>

        <div class="col-lg-7 mb-4 mb-md-0">
            <div
                    class="teal-bg h-100 rounded-6 p-4 ps-lg-5 text-white d-flex align-items-center"
            >
                <div class="ps-lg-5">
                    <h2 class="fw-bold mb-4">Why Donate Here?</h2>
                    <p class="">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Maxime, sint, repellat vel quo quisquam accusamus in qui at
                        ipsa enim quibusdam illo laboriosam omnis. Labore itaque illum
                        distinctio eum neque!
                    </p>

                    <div class="row mb-2">
                        <div class="col-lg-4">
                            <p>
                                <i class="fas fa-check-circle me-2"></i>Best
                                team
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p>
                                <i class="fas fa-check-circle me-2"></i>Best
                                quality
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <p>
                                <i class="fas fa-check-circle me-2"></i>Best
                                experience
                            </p>
                        </div>
                    </div>
                    <p>
                        Duis sagittis, turpis in ullamcorper venenatis, ligula nibh
                        porta dui, sit amet rutrum enim massa in ante. Curabitur in
                        justo at lorem laoreet ultricies. Nunc ligula felis, sagittis
                        eget nisi vitae, sodales vestibulum purus. Vestibulum nibh
                        ipsum, rhoncus vel sagittis nec, placerat vel justo. Duis
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>