<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>
<header class="mb-lg-6 mb-8 intro">
    <%- include("layouts/navbar") -%>
    <section class="container">
        <div class="row justify-content-center text-white align-items-center"
             style="height: 80vh;">
            <div class="col-lg-12 text-center">
                <p class="lead mb-0">Cosmic Vibes</p>
                <h1>A Nonprofit Organization</h1>
            </div>
        </div>
    </section>
</header>

<main>
    <section class="container mb-5">
        <div class="row mb-6">
            <div class="col-lg-7 mb-lg-0 mb-4">
                <h2 class="fw-bold text-black display-5 mb-3">Our Service To You</h2>
                <p class="lead mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate deleniti hic, inventore mollitia perspiciatis quasi saepe similique tempora temporibus totam vel. At blanditiis dicta earum inventore laudantium. Corporis, numquam?
                </p>
                <button type="button" class="btn btn-dark" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                    Get In Touch
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="#!">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" required name="name" id="name" class="form-control" />
                                        <label class="form-label" for="name">Your Name</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" required name="email" id="form2Example1" class="form-control" />
                                        <label class="form-label" for="form2Example1">Email address</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <textarea class="form-control" required name="message" id="form5Example3" rows="4"></textarea>
                                        <label class="form-label" for="form5Example3">Message</label>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-block">Send</button>
                                </form>
                                <p class="lead mt-3">
                                    1234 Main St - Some City, NJ 12345
                                    <br>
                                    info@cosmicvibes.org
                                    <br>
                                    (555) 555-5555
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://puravidayourlife.com/wp-content/uploads/2023/06/Group-bespoke-Sessions-Image-1.jpg" class="d-block img-fluid max-image-size" alt="Wild Landscape"/>
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn-az.allevents.in/events5/banners/ad4fbb7b64c29b1462dbf113636d19ae88d10a004bef5e968d24bc7317fe52d3-rimg-w1200-h675-dcf0f0ef-gmir.jpg?v=1713090688" class="d-block img-fluid max-image-size" alt="Camera"/>
                        </div>
                        <div class="carousel-item">
                            <img src="https://more-aware.com/wp-content/uploads/38-2048x1330.jpg" class="d-block img-fluid max-image-size" alt="Exotic Fruits"/>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row mb-7">
            <div class="col-12 text-center">
                <hr>
                <div class="text-center mb-4">
                    <style>
                        .grayscale {
                            filter: grayscale(100%);
                        }
                    </style>
                    <h3 class="fw-bold text-black-50 mb-4">
                        We have over <u class="">200</u> sponsors
                    </h3>

                    <div class="row">
                        <div class="col-lg-2 col-4 mb-5 mb-lg-0">
                            <img
                                    src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/8.png"
                                    class="img-fluid grayscale"
                                    style="max-width: 90px"
                            />
                        </div>

                        <div class="col-lg-2 col-4 mb-5 mb-lg-0">
                            <img
                                    src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/2.png"
                                    class="img-fluid grayscale"
                                    style="max-width: 90px"
                            />
                        </div>

                        <div class="col-lg-2 col-4 mb-5 mb-lg-0">
                            <img
                                    src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/7.png"
                                    class="img-fluid grayscale"
                                    style="max-width: 90px"
                            />
                        </div>

                        <div class="col-lg-2 col-4 mb-5 mb-lg-0">
                            <img
                                    src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/1.png"
                                    class="img-fluid grayscale"
                                    style="max-width: 90px"
                            />
                        </div>

                        <div class="col-lg-2 col-4 mb-5 mb-lg-0">
                            <img
                                    src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/4.png"
                                    class="img-fluid grayscale"
                                    style="max-width: 90px"
                            />
                        </div>

                        <div class="col-lg-2 col-4 mb-5 mb-lg-0">
                            <img
                                    src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/5.png"
                                    class="img-fluid grayscale"
                                    style="max-width: 90px"
                                    alt="Sony - logo"
                            />
                        </div>
                    </div>
                </div>
                <q>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam consequatur enim fugiat necessitatibus numquam, quasi ratione repudiandae sunt ullam, vel velit vero? Animi ea ipsum, molestiae obcaecati perspiciatis unde?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at beatae deleniti eveniet exercitationem facilis fugiat, harum nam nobis pariatur quae quibusdam repudiandae sapiente, totam velit? In nam quis ut.
                </q>
                <hr>
            </div>
        </div>
        <!-- Section: Design Block -->
        <section class="mb-7">
            <style>
                @media (min-width: 992px) {
                    #cta-img-nml-50 {
                        margin-left: 50px;
                    }
                }
            </style>

            <div class="row gx-0">
                <div class="col-lg-5 mb-4 mb-md-0">
                    <div class="d-flex py-md-5">
                        <img
                                src="/assets/donate-image.png"
                                class="w-100 rounded-5 shadow-3-strong"
                                id="cta-img-nml-50"
                                style="z-index: 10"
                                alt=""
                        />
                    </div>
                </div>

                <div class="col-lg-7 mb-4 mb-md-0">
                    <div
                            class="teal-bg h-100 rounded-6 p-4 ps-lg-5 text-white d-flex align-items-center"
                    >
                        <div class="ps-lg-5">
                            <h2 class="fw-bold mb-4">Why Donate Here?</h2>
                            <p class="">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Maxime, sint, repellat vel quo quisquam accusamus in qui at
                                ipsa enim quibusdam illo laboriosam omnis. Labore itaque illum
                                distinctio eum neque!
                            </p>

                            <div class="row mb-2">
                                <div class="col-lg-4">
                                    <p>
                                        <i class="fas fa-check-circle me-2"></i>Best
                                        team
                                    </p>
                                </div>

                                <div class="col-lg-4">
                                    <p>
                                        <i class="fas fa-check-circle me-2"></i>Best
                                        quality
                                    </p>
                                </div>

                                <div class="col-lg-4">
                                    <p>
                                        <i class="fas fa-check-circle me-2"></i>Best
                                        experience
                                    </p>
                                </div>
                            </div>
                            <p>
                                Duis sagittis, turpis in ullamcorper venenatis, ligula nibh
                                porta dui, sit amet rutrum enim massa in ante. Curabitur in
                                justo at lorem laoreet ultricies. Nunc ligula felis, sagittis
                                eget nisi vitae, sodales vestibulum purus. Vestibulum nibh
                                ipsum, rhoncus vel sagittis nec, placerat vel justo. Duis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
        <section class="mb-5">
            <h3 class="fw-bold mb-5 text-center">Our Most Recent Programs</h3>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="bg-image hover-zoom shadow-1-strong rounded-5" data-mdb-ripple-init>
                        <img
                                src="https://more-aware.com/wp-content/uploads/32-768x543.jpg"
                                class="w-100"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                <div
                                        class="d-flex justify-content-start align-items-end h-100"
                                >
                                    <div class="text-white m-4">
                                        <h5>We are child healers</h5>
                                        <p class="mb-0">
                                            <small
                                            >Published <u>13.01.2022</u> by Anna Maria Doe</small
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div
                                        class="mask"
                                        style="background-color: rgba(253, 253, 253, 0.15)"
                                ></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="bg-image hover-zoom shadow-1-strong rounded-5" data-mdb-ripple-init>
                        <img
                                src="https://more-aware.com/wp-content/uploads/32-768x543.jpg"
                                class="w-100"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                <div
                                        class="d-flex justify-content-start align-items-end h-100"
                                >
                                    <div class="text-white m-4">
                                        <h5>Adventure in the desert</h5>
                                        <p class="mb-0">
                                            <small>Published <u>12.01.2022</u> by Mark Equel</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div
                                        class="mask"
                                        style="background-color: rgba(253, 253, 253, 0.15)"
                                ></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="bg-image hover-zoom shadow-1-strong rounded-5" data-mdb-ripple-init>
                        <img
                                src="https://more-aware.com/wp-content/uploads/32-768x543.jpg"
                                class="w-100"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                <div
                                        class="d-flex justify-content-start align-items-end h-100"
                                >
                                    <div class="text-white m-4">
                                        <h5>Lonely mountain</h5>
                                        <p class="mb-0">
                                            <small
                                            >Published <u>10.01.2022</u> by Bilbo baggins</small
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div
                                        class="mask"
                                        style="background-color: rgba(253, 253, 253, 0.15)"
                                ></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="bg-image hover-zoom shadow-1-strong rounded-5" data-mdb-ripple-init>
                        <img
                                src="https://more-aware.com/wp-content/uploads/32-768x543.jpg"
                                class="w-100"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                <div
                                        class="d-flex justify-content-start align-items-end h-100"
                                >
                                    <div class="text-white m-4">
                                        <h5>Let's go!</h5>
                                        <p class="mb-0">
                                            <small
                                            >Published <u>09.01.2022</u> by Halley Frank</small
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div
                                        class="mask"
                                        style="background-color: rgba(253, 253, 253, 0.15)"
                                ></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="bg-image hover-zoom shadow-1-strong rounded-5" data-mdb-ripple-init>
                        <img
                                src="https://more-aware.com/wp-content/uploads/32-768x543.jpg"
                                class="w-100"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                <div
                                        class="d-flex justify-content-start align-items-end h-100"
                                >
                                    <div class="text-white m-4">
                                        <h5>A hut in the mountains</h5>
                                        <p class="mb-0">
                                            <small>Published <u>07.01.2022</u> by David Beak</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div
                                        class="mask"
                                        style="background-color: rgba(253, 253, 253, 0.15)"
                                ></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="bg-image hover-zoom shadow-1-strong rounded-5" data-mdb-ripple-init>
                        <img
                                src="https://more-aware.com/wp-content/uploads/32-768x543.jpg"
                                class="w-100"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)">
                                <div
                                        class="d-flex justify-content-start align-items-end h-100"
                                >
                                    <div class="text-white m-4">
                                        <h5>Beautiful waterfall</h5>
                                        <p class="mb-0">
                                            <small>Published <u>04.01.2022</u> by Joe Svan</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div
                                        class="mask"
                                        style="background-color: rgba(253, 253, 253, 0.15)"
                                ></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
<%- include("layouts/footer") -%>
</body>
</html>