<!doctype html>
<html lang="en">
<%- include("layouts/header") -%>
<body>
<header class="mb-lg-8 mb-5 intro-bg">
    <%- include("layouts/navbar") -%>
    <section class="container">
        <div class="row justify-content-center align-items-center text-center"
             style="height: 80vh;">
            <div class="col-8 text-white">
                <h1 class="display-4 fw-bold">Our Reach</h1>
                <p class="lead">
                    Never know how far we are willing to go until we get there.
                </p>
            </div>
        </div>
    </section>
</header>

<main>
    <section class="container mb-7">
        <section class="mb-7">
            <div class="row">
                <div class="col-lg-6 col-xl-5 mb-4 mb-lg-0">
                    <img src="https://www.thekaran.in/blog/wp-content/uploads/2023/12/energy-healing-1-scaled.jpg" class="img-fluid shadow-3 rounded" />
                </div>
                <div class="col-lg-6 offset-xl-1">
                    <h3 class="mb-4 fw-bold pt-2 pt-lg-0">Our <span class="purple-text">Programs</span> Build</h3>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab
                        cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus maiores
                        quibusdam.
                    </p>
                    <p class="mb-4">
                        Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic
                        molestias repellendus illo ullam odit quia velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p class="mb-0">
                        Incidunt eligendi mollitia labore ipsum ex fugit explicabo saepe error neque beatae in, expedita eveniet
                        quae aliquam assumenda voluptatibus!
                    </p>
                </div>
            </div>
        </section>
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-body p-0">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="w-100 rounded-top"
                             alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-body p-0">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="w-100 rounded-top"
                             alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-body p-0">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="w-100 rounded-top"
                             alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-body p-0">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="w-100 rounded-top"
                             alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#!" class="btn btn-primary">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("layouts/footer") -%>
</body>
</html>