<footer class="text-center bg-body-tertiary text-lg-start mt-xl-5 pt-4">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4">OUR WORLD</h5>

                <ul class="list-unstyled mb-4">
                    <li>
                        <a href="#!" class="text-dark">About us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Collections</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Environmental philosophy</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Artist collaborations</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4">Assistance</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-dark">Contact us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Size Guide</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Shipping Information</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Payment</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4">Services</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-dark">Service</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Service</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Service</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4">Sign up to our newsletter</h5>

                <div class="form-outline form-dark mb-4" data-mdb-input-init>
                    <input type="email" id="form5Example2" class="form-control" />
                    <label class="form-label" for="form5Example2">Email address</label>
                </div>

                <button type="submit" class="btn btn-outline-white btn-block">Subscribe</button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 border-top border-dark">
        Created with <a href="https://getbootstrap.com/" target="_blank" class="fw-bold purple-text">Bootstrap</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- javascript files -->
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/mdb.umd.min.js"></script>
<script type="text/javascript" src="/scripts/navigation.js"></script>