<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cosmic Vibes Nonprofit - We can vibe together</title>
    <!-- styling files -->
    <link rel="stylesheet" href="/mdb.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>