<nav class="fixed-top">
    <div class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="/">
                    <img src="/assets/logo.png" style="height:60px!important; width:55px!important;" alt="logo" />
                </a>
                <% if(!loggedIn) { %>
                    <a href="/login" class="mt-5">
                        <i class="fas fa-right-to-bracket" data-mdb-tooltip-init data-mdb-placement="bottom" title="Login"></i>
                    </a>
                <% } else { %>
<!--                    <i class="fas fa-user-gear"></i>-->
                    <a href="/logout" class="mt-5">
                        <i class="fas fa-right-from-bracket" data-mdb-tooltip-init data-mdb-placement="bottom" title="Logout"></i>
                    </a>
                    <!-- Dropdown -->
                <% } %>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a href="#!">About</a>
                        <ul class="nav-dropdown">
                            <li><a href="/boardMembers">Our Board</a></li>
                            <li><a href="/ourReach">Our Reach</a></li>
                            <li><a href="/testimonials">Testimonials</a></li>
                            <li><a href="/events">Our Events</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Programs</a>
                        <ul class="nav-dropdown">
                            <li><a href="#!">Link Text</a></li>
                            <li><a href="#!">Link Text</a></li>
                            <li><a href="#!">Link Text</a></li>
                            <li><a href="#!">Link Text</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!">Involvement</a>
                        <ul class="nav-dropdown">
                            <li><a href="#!">Sponsor Us</a></li>
                            <li><a href="#!">Partnership</a></li>
                            <li><a href="#!">Volunteering</a></li>
                            <li><a href="#!">Energy Space</a></li>
                        </ul>
                    </li>
                    <% if(loggedIn) { %>
                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-user-gear" data-mdb-tooltip-init data-mdb-placement="bottom" title="Admin Menu"></i>
                            </a>
                        </li>
                    <% } else { %>
                        <li><a href="#!">Donate</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</nav>